
<div class="container setup-password">
    <div class="panel panel-default ">  
        <div class="panel-heading ">
            <h3 class="panel-title">Setup Password</h3>   
        </div> 
        <br>  

  
        <div class="row form-signin" >
            <div class="col-xs-12 col-md-12 col-lg-12">
                <div class="row ">
                    <div class="col-xs-3"> 
                        <span>{{t 'fields.labels.user.username-email'}}:</span>  
                    </div>
                    <div class="col-xs-9">
                        {{model.username}}
                    </div>
                </div>
            </div>

            <div class="form-group form-signin">
  
                <div class="col-sm-3 col-form-label col-form-label-lg">
                    <label  style="padding-top: 8px;">{{t 'fields.labels.user.new-password'}}:</label>
                </div>
                <div class="col-sm-9"  >
                    {{input value=model.password  
                            placeholder=(t 'definitions.new-password')
                            type="password" 
                            class="form-control" 
                            autofocus=true 
                            focus-out=(action (mut showPasswordError) true) }} 

                            {{#if showPasswordError}}
                                <div class="error">
                                    {{v-get model 'password' 'message'}}
                                </div>
                            {{/if}} 
                </div>
            </div>

            <div class="form-group form-signin">
                <div class="col-sm-3 col-form-label col-form-label-lg">
                    <label for="current-password" style="padding-top: 8px;">{{t 'fields.labels.user.confirm-password'}}:</label>
                </div>
                <div class="col-sm-9">
                    {{input value=model.passwordConfirmation
                            placeholder=(t 'definitions.confirmpassword')
                            class="form-control" 
                            type="password"
                            focus-out=(action (mut showPasswordConfirmationError) true) }} 
                        
                            {{#if showPasswordConfirmationError}}
                                <div class="error"> 
                                    {{v-get model 'passwordConfirmation' 'message'}}
                                </div>
                            {{/if}} 
                </div>
            </div> 

            <br>
            <div class="setup-password-button"> 
                <button class="btn btn-success btn-sm" {{action 'submit' model }}>{{t 'buttons.labels.submit'}}</button>
            </div>
        </div>  
        
    </div> 
    
</div>

 
 